@keyframes carousel {

  0%,
  20% {
    transform: translateY(0);
  }

  25%,
  45% {
    transform: translateY(-100%);
  }

  50%,
  70% {
    transform: translateY(-200%);
  }

  75%,
  95%,
  100% {
    transform: translateY(-300%);
  }
}

@keyframes animateBar {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes loader {
  0%,100% {transform: scale(0);}
  40%,80% {transform: scale(1);}
}