.Btn {
  border: 2px solid black;
  background: none;
  width: 13em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include from(lg){
    width: 15em;
    height: 5em;
  }





  &-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: $z-normal;
    font-size: 1.5em;
    color: black;
    transition: color .5s;



    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: $color-primary;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform .5s;
      z-index: $z-back;
    }
  }

}

.BtnSecondary{
  border:none;
  background: transparent;
  width: 6rem;
  height: 3rem;


  &-linkSecondary{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    top:0;
    left:0;
    z-index: $z-normal;
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    font-size: 1.5em;
    border-radius: 1em;


    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      border-radius: 1em;
      left: 0;
      background-color: #00BCD4;
      z-index: $z-back;
      transition: background-color 1s;
      box-shadow: 0 0 1em #444;
    }
  }
}