.Footer{
  height: 4rem;
  font-size: 1.2em;
  display:flex;
  align-items:center;
  padding:1rem;
  font-weight: $weight-light;



  &-text{

  }


  &-span{
    display: inline-block;
    position: relative;
    &::before{
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left:0;
      position: absolute;
      background: $color-primary;
      transform: translateY(50%);
      z-index: $z-back;


    }
  }
}