.Nav{
  width: 75vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(75vw);
  transition: transform .5s;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: z-fixed;

  @include from(sl){
    width:40vw;
    transform: translateX(40vw);
  }
  @include from(m){
    width: 30vw;
    transform: translateX(30vw);
  }
  @include from(lg){
    width: 20vw;
    transform: translateX(20vw);
  }
  @include from(xl){
    width: 15vw;
    transform: translateX(15vw);
    justify-content: flex-start;
    padding-top: 5rem;
  }


  &-close{
    position: fixed;
    top: .5rem;
    right: 1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;

  }
  &-list{
    width: auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;

  }


  &-item{

  }

  &-link{
    display:block;
    padding: .5rem 1rem;
    transition: color .2s;
    font-weight: $weight-medium;
    font-size: 2em;
    position: relative;

    @include from(m){

      font-size: 1.5em;

    }
    @include from(lg){

      font-size: 2em;
    }
    @include from(xl){

      font-size: 2em;
    }




    &::after{
      content: '';
      position: absolute;
      top: 0;
      left:0;
      background: #ebf8ff;
      width: 100%;
      height: 100%;
      transform: scaleX(0);
      transform-origin: left;
      z-index: $z-back;
      transition: transform .5s;
    }

  }

}