.Preloader{
  width: 100vw;
  height: 100vh;
  background: white;
  position: fixed;
  z-index: $z-fixed;
  display:flex;
  justify-content:center;
  align-items:center;



  &-wrapper{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    grid-gap: .2rem;


  }


  &-item{
    width: 1.5rem;
    height: 1.5rem;
    background: black;
    transform: scale(0);
    animation: loader 2s infinite linear;


  }
}



.i-2{
  animation-delay:.2s;
}
.i-3{
  animation-delay:.4s;
}
.i-4{
  animation-delay:.6s;
}
.i-5{
  animation-delay:.8s;
}