
.Body.is-block{
  overflow: hidden;
}




.LayoutContainer.is-hidden{
  transform: translateX(-75vw);
  opacity : .5;
  @include from(sl){
    transform: translateX(-40vw);
  }
  @include from(m){
    transform: translateX(-30vw);

  }
  @include from(lg){
    transform: translateX(-20vw);

  }
  @include from(xl){
    transform: translateX(-15vw);

  }
}