

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
li{
  list-style: none;
}
span{
  font-style: inherit;
  font-weight: inherit;
}
button{
  padding: 0;
}

iframe{
  max-width: 100%;
  height: 100%;
}