
// Colors

$color-primary: #EBF8FF;



// Typography

$font-family: 'Poppins', serif;
$family-code: monospace ;

$weight-light: 300 ;
$weight-normal: 400 ;
$weight-medium: 500 ;
$weight-bold: 700 ;
$weight-ultrabold: 900 ;

//  Z-index Variables

$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;


//  Layout

$max-width: 100em;


//  BreakPoints
$breakpoints : (
    s  : 0,
    sl : 35.5em, // ~ 568px ( landscape mobiles )
    m  : 48em,   // ~ 768px ( tablets )
    lg : 62em,   // ~ 992px ( tablets grandes )
    xl : 75em    // ~1200px ( desktop )
)


