.AboutContent {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  height: calc(100% - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;

}

.About {
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  max-width: em(1400px);
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: minmax(280px, 1fr);
  grid-template-rows: repeat(auto-fill, 10rem);
  grid-template-areas: 'picture'
    'picture'
    'social '
    'description'
    'description'
    'services'
    'services'
    'skills'
    'skills';


  @include from(lg) {
    padding-top: 0;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-template-rows: repeat(5, 8.5rem);
    grid-template-areas: 'picture description description'
      'picture services services'
      'picture services services'
      'social skills skills'
      'social skills skills';
  }


  &-picture {
    grid-area: picture;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & img {
      width: 100%;
      height: 100%;
      border: .5em solid $color-primary;
      border-radius: 50%;

      @include from(lg) {
        width: auto;
      }

    }
  }

  &-description {

    grid-area: description;



    &-tittle {
      font-size: 2em;
      font-weight: $weight-medium;


    }

    &-text {
      word-break: break-word;
    }

  }

  &-socialMedia {
    grid-area: social;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &-name {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 1rem 0;


      &-h1 {
        font-size: 2em;
        font-weight: $weight-medium;


        @include from(lg) {
          font-size: 2em;
        }

        @include from(xl) {
          font-size: 2.5em;
        }
      }

      &-p {
        font-size: 1em;

        @include from(lg) {
          font-size: 1.2em;
        }
      }
    }

    &-wrapper {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;



      @include from(sl) {
        width: 60%;
      }

      @include from(m) {
        width: 50%;
      }

      @include from(lg) {
        width: 80%;
      }

      @include from(xl) {
        width: 60%;
      }



    }

    &-wLink {

      width: 3rem;
      height: 3rem;
      border: 2px solid black;



    }

    &-links {

      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;


      & i {
        font-size: 2em;
      }
    }

    &-btns {
      padding: 1rem 0;

    }
  }

  &-skills {
    grid-area: skills;
    display: flex;
    flex-direction: column;


    &-tittle {
      font-size: 2em;
      font-weight: $weight-medium;
    }

    &-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      grid-gap: 1rem;
    }

    &-item {
      width: 100%;
      height: 100%;


      &-tittle {}


      &-box {

        width: 100%;
        height: 1.5rem;
        position: relative;
        background: #e9e9e9;
        border-radius: 1rem;

        &-bar {
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          padding-right: .5rem;
          align-items: center;
          background: #444;
          border-radius: 1rem;
          color: white;
          transition: width .5s;
        }
      }
    }
  }

  &-services {
    grid-area: services;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;



    &-tittle {
      font-size: 2em;
      font-weight: $weight-medium;
    }

    &-wrapper {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(em(280px), 1fr));
      grid-gap: 2rem;

      @include from(lg) {
        grid-template-columns: repeat(auto-fill, minmax(em(300px), 1fr));
      }

      @include from(xl) {
        grid-template-columns: repeat(auto-fill, minmax(em(350px), 1fr));
      }
    }

    &-item {
      width: 100%;
      height: auto;

      &-subtittle {
        font-weight: $weight-medium;
      }

      &-text {
        font-weight: $weight-light;
        word-break: break-word;
      }

    }
  }
}