.ContainerIndex {
  width: 100%;
  height: 100%;

  @include from(lg) {
    width: 100vw;
    height: 100vh;
  }
}

.ContainerAbout {
  width: 100%;
  height: 100%;

  @include from(lg) {
    width: 100vw;
    height: 100vh;
  }
}

.ContainerProjects {
  width: 100%;
  height: 100%;

  @include from(lg) {
    width: 100vw;
    height: 100vh;
  }
}

.ContainerContact {
  width: 100%;
  height: 100%;

  @include from(lg) {
    width: 100vw;
    height: 100vh;
  }
}



.Body {

  &::-webkit-scrollbar {
    width: .6em;
    height: .6em;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(122, 122, 122);
    border-radius: .5em;
  }


  &::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: .5em;
  }

  @include from(lg) {
    overflow-x: hidden;
  }

}