.Contact{
  width: 100%;
  height: auto;
  display:flex;
  align-items: center;
  font-size: 3em;
  padding-right: 1rem;
  padding-left: 1rem;
  justify-content: center;


  @include from(sl){
    font-size: 2em;
  }
  @include from(m){
    font-size: 3.5em;
  }
  @include from(lg){
    height:calc(100vh - 8rem);
    font-size: 4em;
  }

  &-form{
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(9,3rem);
    grid-template-areas: 'title''name' 'company' 'email' 'phone' 'message' 'message' 'message' 'send';
    align-content: center;

    @include from(lg){
      width: 60%;
    }
    &-itemTitle{
      font-size: .6em;
      grid-area: title;
      display: flex;
      justify-content: center;
    }
    &-itemName{

      grid-area: name;
      display: flex;
      align-items: center;
    }
    &-itemCompany{

      grid-area: company;
      display: flex;
      align-items: center;
    }
    &-itemEmail{

      grid-area: email;
      display: flex;
      align-items: center;
    }
    &-itemPhone{

      grid-area: phone;
      display: flex;
      align-items: center;
    }
    &-itemMessage{
      grid-area: message;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-itemSend{
      grid-area: send;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.Input,.TextArea{

  outline: 0;
  padding-left: .5rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .16);
  box-shadow: none;
  background: transparent;
  font-size: 17px;
}


.Input{
  width: 100%;
  height: 3rem;

}

.TextArea{
  width: 100%;
  height: 100%;
}

.Submit{
  border: 2px solid black;
  font-size: 20px;
  width: auto;
  height: auto;
  background: transparent;


}