.HomeContent {
  width: 100%;
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;

  &-text {
    font-size: 1.8em;
    font-weight: $weight-medium;

    @include from(sl){
      font-size: 1.5em;
    }
    @include from(m) {
      font-size:3em;
    }

    @include fromTo(812px,813px){
      font-size: 1.7em;
    }

    @include from(lg){
      font-size:2.5em;
    }
    @include from(xl) {
      font-size: 3.5em;
    }
  }

  &-span{
    display: inline-block;
    position: relative;
    padding: .5rem 0;
    &::after{
      content: '';
      width: 100%;
      height: 60%;
      position: absolute;
      top: 0;
      left:0;
      z-index: $z-back;
      transform: translateY(60%);

      @include from(m){
          background: $color-primary;
      }
    }
  }

  &-buttons {
    display: flex;
    &-button {
      margin-right: .5rem;

      @include from(lg){
        margin-top: 1rem;
      }
    }
  }
}