
.LayoutIndex {
    width: 100%;
    height: 100vh;
    transition: transform .5s, opacity .5s;
    display: grid;
    grid-template-areas: 'content''view''footer';
    grid-template-rows: repeat(3, auto);


    @include from(lg) {
        grid-template-areas: 'view content''view footer';
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }



    &-view {
        grid-area: view;
    }

    &-content {
        grid-area: content;

    }


    &-footer {
        grid-area: footer;

    }
}