.LayoutProjects {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 'content''view''footer';
    grid-template-rows: repeat(3, auto);
    transition: transform .5s, opacity .5s;

    @include from(lg) {
        grid-template-areas: 'view content''view footer';
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }



    &-view {
        grid-area: view;
        overflow: auto;

        &::-webkit-scrollbar {
            width: .6em;
            height: .6em;
        }
        &::-webkit-scrollbar-thumb {
            background: rgb(122, 122, 122);
            border-radius: .5em;
        }


        &::-webkit-scrollbar-track {
            background: #e1e1e1;
            border-radius: .5em;
        }

    }


    &-content {
        grid-area: content;

    }


    &-footer {
        grid-area: footer;
    }
}