.ProjectsContent{
  width: 100%;
  height: calc(100vh - 8rem);
  background: white;
  color: black;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;


  &-tittle{

    font-size: 3em;
    font-weight: $weight-medium;
    @include from(sl){
      font-size: 2em;
    }
    @include from(m){
      font-size: 3.5em;
    }
    @include fromTo(812px,813px){
      font-size: 2em;

    }
    @include from(lg){
      font-size: 3.5em;
    }
    @include from(xl){
      font-size: 4em;
    }
  }

  &-Description{
    font-size: 1em;
    padding: 1rem 0;
    font-weight: $weight-normal;
    @include from(sl){
      font-size: .9em;
      padding: .5rem 0;
    }

    @include from(m){
      width: 80%;
      font-size: 1.5em;
      padding: 2rem 0;
    }
    @include fromTo(812px,813px){
      font-size: 1em;
      padding: 1rem 0;
    }
    @include from(lg){

      font-size: 1.2em;
      padding: 2rem 0;
    }


    @include from(xl){
      font-size: 1.2em;
      width: 60%;
      padding: 2rem 0;
    }
    & b{
      color: #00BCD4;
    }
  }
  &-btns{
    display: flex;
    &-btn{

      margin-right: .5rem;

      @include from(lg){
        margin-top: 1rem;
      }
    }
  }
}