.Projects{
  display: grid;
  padding: .5rem;
  grid-gap: .2rem;
  grid-template: repeat(10,7em) / repeat(2, minmax(9em, 1fr));

  @include from(m) {
    grid-template: repeat(7,10em) / repeat(auto-fill, minmax(12em, 1fr));
  }
  @include from(lg) {
    grid-template: repeat(10,8em) / repeat(auto-fill, minmax(11em, 1fr));
  }
  @include from(xl) {
    grid-template: repeat(6,9em) / repeat(auto-fill, minmax(12em, 1fr));
  }



  &-item{

    position: relative;

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      background-color:rgba(0, 0, 0,.2);
      border-radius: 1em;
      z-index: $z-back;
      transform: scale(.9);
      transition: transform .5s;
    }

    &-bg{
      width: 100%;
      height: 100%;
      padding: .5rem;
      position: relative;
      z-index: $z-normal;




      &-figure{
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-shadow: 0 0 .1em #444;
        border-radius: .8em;
        position: relative;

        &::before{
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top:0;
          left:0;
          background: rgba(0, 0, 0,.2);
          border-radius: .8em;
          display: none;
          opacity: 0;
          transition: opacity .5s;
        }
      }
    }

    &-overlay{
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      display:flex;
      justify-content:center;
      align-items:center;
      transform: scale(0);
      transition: transform .5s;
      z-index: $z-tooltip;

      }
    }
  }


@for $i from 1 through 3{
  .n#{$i}{
    grid-row: span #{$i};
  }
}