.Slider {
  width: 100%;
  height: 32em;
  display: grid;
  grid-template-rows: repeat(5, 16em);
  overflow: hidden;

  @include from(m) {
    height: 38em;
    grid-template-rows: repeat(5, 19em);
  }

  @include from(lg) {
    height: 100vh;
    grid-template-rows: repeat(5, 50vh);
  }


  &-item {
    width: 100%;
    height: 100%;
    position: relative;
    animation: carousel 20s infinite alternate;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, .6);
      color: white;
      display: flex;
      align-items: center;
      opacity: 0;
      transition: opacity .3s;
      z-index: $z-back;

      &-wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      &-tittle {
        font-size: 1.4em;
        padding-bottom: 1rem;

        @include from(lg){
          font-size: 2.2em;
        }
      }

      &-description {
        font-size: .9em;

        @include from(lg){
          font-size: 1em;
          width: 60%;
        }
      }
    }
  }

}